{% assign product_categories = site.settings.product_categories | split: '|' %}

<section class="my-4" x-data="{ activeTab: 'all' }">
    <div class="flex justify-center gap-4">
      <button @click="activeTab = 'all'" :class="{ 'bg-primary text-white': activeTab === 'all' }" class="px-4 py-1 text-sm font-medium  border border-gray-300 rounded-md focus:outline-none">{{ 'generic.all' | t}}</button>
        {% for item in product_categories %}
            <button @click="activeTab = '{{ item }}'" :class="{ 'bg-primary text-white': activeTab === '{{ item }}' }" class="px-4 py-1 text-sm font-medium  border border-gray-300 rounded-md focus:outline-none">{{ item }}</button>
        {% endfor %}
    </div>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-4 mt-4">
        {% for item in pages %}
            <!-- Card product -->
            <a x-show="activeTab === 'all' {% for tag in item.settings.tags %} || activeTab === '{{ tag.name }}' {% endfor %}" href="{{ item.path }}" class="bg-gray-50 p-2 overflow-hidden max-w-64 flex flex-col">
                <img src="{{ item.settings.thumb_image_url }}" alt="{{ item.link_text }}" class="w-full h-48 object-cover">
                <div class="p-2">
                    <p class="text-md text-center text-gray-800">{{ item.link_text }}</p>
                    {% comment %} <p class="text-gray-600 mt-2">{{ item.settings.description }}</p> {% endcomment %}
                </div>
            </a>
        {% endfor %}
    </div>
</section>