{%  assign items =  page.children_in_list | limit: 6 %}
<section class="py-2">
    <div class="max-w-6xl mx-auto border-b border-gray-200 pb-4 mb-4">
        <div class="">
            <h3 class="text-lg md:text-2xl font-semibold text-gray-900">
                {{ page.settings.title }}
            </h3>
            <p class="text-sm text-gray-500">{{ page.settings.description }}</p>
        </div>
    </div>
</section>

<div class="grid grid-cols-1 gap-4 md:gap-8 sm:grid-cols-3">
    {% for item2 in items %}
        <!-- Card product -->
        {% if item2.template_name == 'video' %}
            <article class="flex flex-col border rounded-xl bg-gray-100">
                <div class="relative w-full flex flex-col items-center justify-center">
                    {% render 'play_video', page: item2 %}
                </div>
                <div class="w-full px-2">
                    <div class="group relative">
                        <a href="{{ item2.path }}" class="mt-2 line-clamp-2 text-md leading-6 group-hover:text-gray-600">
                            {{ item2.settings.title }}
                        </a>
                    </div>
                    <div class="text-sm text-gray-600 my-2">
                        {{ item.settings.description }}
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
</div>
<!-- Pagination -->
{%  assign count =  page.children_in_list | size %}
{% if count > 6 %}
    <div class="w-full text-right block mt-4">
        <a href="{{ page.url }}" class="inline-block px-4 py-2 border border-transparent text-base font-medium rounded-full text-white bg-secondary hover:bg-secondary/80">
            {{ 'general.view_all' | t }}
        </a>
    </div>
{% endif %}
