
{% comment %} <div class="flex w-1/2 text-sm border border-slate-200">暂无内容</div> {% endcomment %}
{% assign tag_pages = tag.pages %}
<!-- Page wrapper -->
{% assign product_categories = site.settings.product_categories | split: '|' %}

<!-- 产品列表 -->
<section class="my-4" x-data="{ activeTab: 'all' }">
    <div class="flex justify-center gap-4 w-full overflow-x-auto">
        {% for item in product_categories %}
            <a href="/-/tags/{{ item }}" :class="{ 'bg-primary text-white': '{{ item }}' === '{{ tag.name }}' }" class="flex-none px-4 py-1 text-sm font-medium border border-gray-300 rounded-md focus:outline-none">{{ item }}</a>
        {% endfor %}
    </div>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-4 mt-4">
        {% paginate_tag tag_pages, per: 40 %}
            {% for item in tag_pages %}
                {% if item.template_name == 'product' %}
                    <!-- Card product -->
                    <a x-show="activeTab === 'all' {% for tag in item.settings.tags %} || activeTab === '{{ tag.name }}' {% endfor %}" href="{{ item.path }}" class="bg-gray-50 overflow-hidden p-2 max-w-64 flex flex-col">
                        <div class="p-2 md:p-4 bg-white"><img src="{{ item.settings.thumb_image_url }}" alt="{{ item.link_text }}" class="w-full object-cover"></div>
                        <div class="mt-1">
                            <p class="text-md text-center text-gray-800">{{ item.link_text }}</p>
                            {% comment %} <p class="text-gray-600 mt-2">{{ item.settings.description }}</p> {% endcomment %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            <!-- Pagination -->
            <div class="w-full text-right block mt-12">
                {% render 'paginate', paginate: paginate %}
            </div>
        {% endpaginate_tag %}
    </div>
</section>
