{%- if page.parent.settings.video_type.value == "1" -%}
  {%  assign thumb_class = "aspect-[9/16] mx-auto h-full rounded-xl bg-base-200 object-cover" %}
{%- else -%}
  {%  assign thumb_class = "aspect-[16/9] mx-auto h-full rounded-xl bg-base-200 object-cover" %}
{%- endif -%}

<!-- Blog post -->
<section class="relative">

    <section class="bg-base-200">
      <div class="relative max-w-6xl mx-auto pt-4 md:pt-6 px-4">
        <div>
          {% # 面包屑导航 %}
          <div class="mb-4">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
          </div>
          <!-- Article header -->
          <header class="py-2">
              <!-- Title and excerpt -->
              <div class="">
                <h1 class="text-2xl md:text-3xl mb-4 text-base-content">
                    {{ page.settings.title }}
                </h1>
              </div>
              <!-- Article meta -->
              <div class="md:flex md:items-center md:justify-between ">
                <div class="">
                    <div class="space-x-2">
                      <span class="text-base-content/60"> {{ 'generic.published_at' | t}}：{{ page.published_at | date: "%Y-%m-%d" }}</span>
                      <span class="text-base-content/60"> ·  {{ 'generic.visits' | t }}：{{ page.visits_count  }}</span>
                    </div>
                </div>
            </div>
          </header>
        </div>
      </div>
    </section>

    <div class="relative max-w-6xl mx-auto px-4 mt-4">
        <div class="flex items-center justify-center">
          {% render 'play_video', page: page, video_type: page.parent.settings.video_type.value %}
        </div>

        <article class="p-4 md:py-8 ProseMirror max-w-full overflow-x-auto">
          {{ page.settings.content }}
        </article>

        <div class="flex justify-between">
          <!--Tags-->
          {% assign tags_count = page.settings.tags | size %}
          {% if tags_count > 0 %}
            <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                <p>{{ 'generic.tags' | t }}： </p>
                {% for tag in page.settings.tags %}
                    <a href="{{ tag.path }}" style="background-color: {{ tag.color }}" class="px-2 py-1 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
                    {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
          {% endif %}

          <!-- Feedback -->
          <div class="max-w-2xl mx-auto mt-8">
            {%# render "feedback_form", page: page %}
            {% render "feedback_btn", page: page %}
          </div>
        </div>

        <!-- Sub Post Section -->
        {% render 'sub_page_list', page: page, show_header: false %}

        <!-- Post Section -->
        <div class="items-center text-center print:hidden">
          <!-- 上下页 -->
          <div class="items-center justify-between py-8 space-y-3 lg:flex lg:space-y-0 lg:space-x-4">
            <!-- Prev link -->
            {% if page.prev_page %}
              <a
                href="{{ page.prev_page.path }}"
                data-turbo="false"
                class="block w-full p-3 text-left border rounded-md lg:w-1/2 border-base-300 bg-base-100 hover:bg-base-200"
              >
                <div class="mb-2">{{ 'generic.prev_page' | t }}</div>
                <div class="text-primary">
                  <div
                    class="flex items-center space-x-2 line-clamp-1"
                  >
                    <i data-lucide="chevron-left" class="h-4 w-4"></i>
                    <span class="line-clamp-1">{{ page.prev_page.link_text }}</span>
                  </div>
                </div>
              </a>
            {% endif %}
            <!-- Next link -->
            {% if page.next_page %}
              <a
                href="{{ page.next_page.path }}"
                data-turbo="false"
                class="block w-full p-3 text-left border rounded-md lg:text-right lg:w-1/2 border-base-300 bg-base-100 hover:bg-base-200"
              >
                <div class="mb-2">{{ 'generic.next_page' | t }}</div>
                <div class="text-primary">
                  <div
                    class="flex items-center space-x-2 lg:justify-end line-clamp-1"
                  >
                    <span class="line-clamp-1">{{ page.next_page.link_text }}</span>
                    <i data-lucide="chevron-right" class="h-4 w-4"></i>
                  </div>
                </div>
              </a>
              {% # else %}
              {% comment %} <div class="flex w-1/2 text-sm border border-slate-200">暂无内容</div> {% endcomment %}
            {% endif %}
          </div>
        </div>
    </div>
</section>

<!-- Related posts -->
{% render 'related_pages', page: page.parent %}


<!--/ article-->
{% schema %}
  {
    "name": "t:schema.templates.video.name",
    "description": "t:schema.templates.video.description",
    "thumb_url": "images/theme/${lang}/video.webp",
    "sub_page_templates": [],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "t:schema.templates.video.settings.title.label"
      },
      {
        "id": "youtube_id",
        "type": "text",
        "placeholder": "6c3RXM7lK20",
        "label": "t:schema.templates.video.settings.youtube_id.label",
        "info": "t:schema.templates.video.settings.youtube_id.info"
      },
      {
        "id": "video_url",
        "type": "video_picker",
        "label": "t:schema.templates.video.settings.video_url.label",
        "info": "t:schema.templates.video.settings.video_url.info"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:schema.templates.video.settings.description.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:schema.templates.video.settings.content.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:schema.templates.video.settings.tags.label"
      }
    ]
  }
{% endschema%}
