{% assign thumb = 'images/thumbnail.png' | asset_url %}
{% assign pages = page.children_in_list %}
{% for item in pages %}
    {% if item.template_name == 'videos' %}
        {%  assign type =  'channel' %}
        {% break %}
    {% endif %}
{% endfor %}

<section class="py-2 bg-base-200">
    <div class="max-w-6xl mx-auto px-4">
        <div class="mb-4">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
        </div>
    </div>
    <div class="mx-auto max-w-2xl md:flex flex-col items-center justify-center py-4">
        <h2 class="font-semibold tracking-tight text-base-content md:text-3xl text-2xl flex items-center">
            {{ page.settings.title }}</h2>
        <p class="mt-2 ml-2 text-sm text-base-content/60">{{ page.settings.description }}</p>
    </div>
</section>

<!-- 产品列表 -->
<section class="bg-base-100 py-6 sm:py-12">
    <div class="mx-auto max-w-6xl px-4">
        <!-- Cards Container -->
        {% if type == 'channel' %}
            <section>
                {% for item in pages %}
                    {% if item.template_name == 'videos' %}
                        {% render 'content_videos', page: item, show_header: true %}
                    {% else %}
                        {% if item.template_name == 'video' %}
                            {% render 'content_video', page: item %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </section>
        {% else %}
            {% paginate_tag pages, per: 12 %}
                <div class="grid grid-cols-1 gap-4 md:gap-8 sm:grid-cols-3 mt-4">
                    {% for item2 in pages %}
                        <!-- Card product -->
                        {% if item2.template_name == 'video' %}
                            <article class="flex flex-col border border-base-300 bg-base-100 rounded-box my-4 overflow-hidden">
                                <div class="relative w-full flex flex-col items-center justify-center">
                                    {% render 'play_video', page: item2, video_type: page.settings.video_type.value %}
                                </div>
                                <div class="w-full px-2">
                                    <div class="group relative">
                                        <a href="{{ item2.path }}" class="mt-2 line-clamp-2 text-md leading-6 group-hover:text-base-content/70">
                                            {{ item2.settings.title }}
                                        </a>
                                    </div>
                                    <div class="text-sm text-base-content/60 my-2">
                                        {{ item2.settings.description }}
                                    </div>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="w-full text-right block mt-12">
                    {% render 'paginate', paginate: paginate %}
                </div>
            {% endpaginate_tag %}
            {%# 分页 %}
        {% endif %}
    </div>
</section>




{% schema %}
{
    "name": "t:schema.templates.videos.name",
    "description": "t:schema.templates.videos.description",
    "thumb_url": "images/theme/${lang}/videos.webp",
    "sub_page_templates": ["video","videos"],
    "settings": [
        {
            "id": "title",
            "type": "text",
            "label": "t:schema.templates.videos.settings.title.label"
        },
        {
            "id": "description",
            "type": "textarea",
            "label": "t:schema.templates.videos.settings.description.label"
        },
        {
            "id": "video_type",
            "type": "radio",
            "label": "t:schema.templates.videos.settings.video_type.label",
            "choices": [
                {"label": "t:schema.templates.videos.settings.video_type.choices.desktop", "value": "0"},
                {"label": "t:schema.templates.videos.settings.video_type.choices.mobile", "value": "1"}
            ],
            "default": "0",
            "info": "t:schema.templates.videos.settings.video_type.info"
        }
    ]
}
{% endschema%}
